.three{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    border-radius:5px;
  height:-webkit-fill-available;
}
.row{
    width:50%;
    justify-content: end;
    height: 78vh;
    margin: 0px;
}
.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 50vh;
    border: 8px solid gainsboro;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-style: outset;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  
  h1 span::before{
    content: '';
    color: #aa3939;
    animation: profile 5s infinite ;
  }
  @keyframes profile {
    0% { content: 'singer'}
    50% { content: 'magician'}
    100% { content: 'storyteller'}
  }
  
  .flex-prof-card{
    display : flex;
    width: -webkit-fill-available;
    justify-content: center;
    flex-wrap:wrap;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    height:inherit;
  }

  


  
  @import url("https://fonts.googleapis.com/css?family=Bangers");
  *, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
  }
  
  
  .profile-flipper {
    height: auto;
    width: auto;
    font-size: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", cursive;
    align-self:baseline;
  }
  
  .card {
    height: 25rem;
    width: 18rem;
    transform-style: preserve-3d;
    position: relative;
    transition: all 1s ease-in-out;
    margin: 10px;
    margin-right: 20vh;
    border-radius:5vh;
  }
  
  .front, .back {
    position: absolute;
    backface-visibility: hidden;
    background-image: linear-gradient(135deg, #00d8e7 0%, #764ba2 100%);
    height: 100%;
    width: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    color: #fff;
    perspective: 1000px;
    box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.4);
  }
  
  .back {
    transform: rotateY(180deg);
    background-image: linear-gradient(135deg, #ddfa5b 0%, #764ba2 100%);

  }
  
  .front > p, .back > p {
    transform: translateZ(120px);
  }
  
  .card:hover {
    transform: rotateY(180deg);
  }
  .info-content{
    align-self:center;
    height: fit-content;
    width:fit-content;
background-image: (374deg,midnightblue -10%, honeydew 101%);
  }
  .l-info-container{
    align-self:center;
    padding:0px 10px 0px 10px
  }
  .info-content {
    margin-bottom: 4em;
  }
  .info-content p {
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
  }
  .v4 p {
    background-position: bottom left;
    background-size: 0% 3px;
    background-image: repeating-linear-gradient(to right, #4834d4 0 3px, transparent 0 6px);
    padding-bottom: 3px;
  }
  .v4:hover p {
    background-size: 100% 3px;
  }



  .info-flip-card {
    margin: 50px;
    background-color: transparent;
    width: 300px;
    height: 250px;
    border-radius:10px;
    perspective: 8000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .info-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    border-radius:20px;
    box-shadow:none;
    /* border: 2px solid blue; */
    transform-style: preserve-3d;

  }
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .info-flip-card:hover .info-flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .info-flip-card-front, .info-flip-card-back {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    
    position: absolute;
    border-radius:10px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  .info-flip-card-front{
    /* padding-left: 20px; */
    border:5px solid honeydew;
  }
  .info-flip-card-back{
    padding-right: 20px;
    border: 5px solid lightblue;
  }
  
  /* Style the front side (fallback if image is missing) */
  .info-flip-card-front {
    background-image:linear-gradient(396deg,#DC2424,#4A569D);
    color: black;
  }
  .info-flip-card-back {
    background-image:linear-gradient(296deg,#c21500 3%,#ffc500 85%);
    color: white;
    transform: rotateY(180deg);
  }
  
  #info-1{
    flex:0.7;
    background-image:linear-gradient(407deg,ghostwhite -10%,#4A569D 56%) ;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    width:150px;
    border-radius: 50%;
    height:150px
  }
  #info-1-name{
    width:100px;
    border:2px solid red;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    border-radius:20px;
    background-image: linear-gradient(#B993D6,#8CA6DB);
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.skills-body{
  display: grid;
  height: 100%;
  place-items: center;
}
::selection{
  color: #fff;
  background: #6665ee;
}
.skill-bars{
  padding: 25px 30px;
  width: -webkit-fill-available;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-bottom:10px
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 60%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 50%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "75%";
}
.acheive-flex{
  width: -webkit-fill-available;
}
.wrapper-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fefefe;
}
.newdata{
  padding:10px;
  width:-webkit-fill-available;
}
* {
  box-sizing: content-box;
}

.root-wrapper-card {
  --bg-color: #133337;
  --bg-color-light: #fff;
  --box-shadow-color: rgba(19, 51, 55, 0.75);
}
.ach{
  width: -webkit-fill-available !important;
}
.tiles-card {
  width: 135px;
  height: 135px;
  background: var(--bg-color-light);
  overflow: hidden;
  position: relative;
  box-shadow: 0 0px 26px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
  transition: all 0.3s ease-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiles-overlay {
  width: 78px;
  height: 78px;
  position: absolute;
  border-radius: 50%;
  background: var(--bg-color);
  margin: auto;
  z-index: 0;
  transition: transform 0.3s ease-out;
}

.tiles-circle {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
  margin: auto;
}

.tiles-circle::after {
  content: "";
  width: 78px;
  height: 78px;
  display: block;
  position: absolute;
  background: antiquewhite;
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
}

.tiles-circle img {
  height: 45px;
  margin-top: 5px;
  z-index: 10000;
  transform: scale(1) translateZ(0) rotateY(0deg);
  transition: all 0.3s ease-out;
  position: static;
}

.tiles-circle p {
  opacity: 0;
  visibility: hidden;
  transform: scale(0) translateZ(0) rotateY(180deg);
  transition: all 0.3s ease-out;
  position: absolute;
  z-index: 10000;
  cursor: default;
}

.tiles-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 0px 36px rgba(0, 0, 0, 0.11), 0 0px 46px var(--box-shadow-color);
}
.tiles-card:hover .tiles-overlay {
  transform: scale(4) translateZ(0);
}
.tiles-card:hover .tiles-circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}
.tiles-card:hover .tiles-circle::after {
  background: var(--bg-color-light);
}
.tiles-card:hover .tiles-circle img {
  opacity: 0;
  transform: scale(0) translateZ(0) rotateY(180deg);
  position: absolute;
}
.tiles-card:hover .tiles-circle p {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateZ(0) rotateY(0deg);
  position: static;
}

.wall,
.wall:before,
.wall:after {
  box-sizing: border-box;
  font-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-text {
  position: relative;
  color: #2395f3;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  padding-top: 0.65rem;
  padding-left: 0.5rem;
  padding-right: 0.36rem;
  padding-bottom: 0.2rem;
}
.slash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  transform-origin: center center;
  width: 0.15rem;
  height: 145%;
  background: fff;
  z-index: 4;
  animation: slash 6s ease-in infinite;
}
.slash:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.75rem;
  height: 120%;
  background: #fff;
  z-index: -1;
}
.slash:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2395f3;
}
.sides {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.sides .side {
  position: absolute;
  background: #2395f3;
}
.sides .side:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  transform: translateX(-101%);
  animation: side-top ease 6s infinite;
}
.sides .side:nth-child(2) {
  top: 0;
  right: 0;
  width: 0.15rem;
  height: 100%;
  transform: translateY(-101%);
  animation: side-right ease 6s infinite;
}
.sides .side:nth-child(3) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.15rem;
  transform: translateX(101%);
  animation: side-bottom ease 6s infinite;
}
.sides .side:nth-child(4) {
  top: 0;
  left: 0;
  width: 0.15rem;
  height: 100%;
  transform: translateY(101%);
  animation: side-left ease 6s infinite;
}
.text-acheive {
  position: relative;
}
.text--backing {
  opacity: 0;
}
.text--left {
  position: absolute;
  top: 0;
  left: 0;
  width: 51%;
  height: 100%;
  overflow: hidden;
}
.text--left .inner {
  transform: translateX(100%);
  animation: text-left 6s ease-in-out infinite;
}
.text--right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.text--right .inner {
  transform: translateX(-200%);
  animation: text-right 6s ease-in-out infinite;
}
@-moz-keyframes slash {
  0% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  13% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  16.6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
}
@-webkit-keyframes slash {
  0% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  13% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  16.6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
}
@-o-keyframes slash {
  0% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  13% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  16.6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
}
@keyframes slash {
  0% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  13% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  16.6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
}
@-moz-keyframes text-left {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0);
  }
  58% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@-webkit-keyframes text-left {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0);
  }
  58% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@-o-keyframes text-left {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0);
  }
  58% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes text-left {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0);
  }
  58% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@-moz-keyframes text-right {
  0% {
    transform: translateX(-200%);
  }
  10% {
    transform: translateX(-100%);
  }
  58% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@-webkit-keyframes text-right {
  0% {
    transform: translateX(-200%);
  }
  10% {
    transform: translateX(-100%);
  }
  58% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@-o-keyframes text-right {
  0% {
    transform: translateX(-200%);
  }
  10% {
    transform: translateX(-100%);
  }
  58% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@keyframes text-right {
  0% {
    transform: translateX(-200%);
  }
  10% {
    transform: translateX(-100%);
  }
  58% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@-moz-keyframes side-top {
  0%, 14% {
    transform: translateX(-101%);
  }
  24%, 55% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(101%);
  }
  100% {
    transform: translateX(101%);
  }
}
@-webkit-keyframes side-top {
  0%, 14% {
    transform: translateX(-101%);
  }
  24%, 55% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(101%);
  }
  100% {
    transform: translateX(101%);
  }
}
@-o-keyframes side-top {
  0%, 14% {
    transform: translateX(-101%);
  }
  24%, 55% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(101%);
  }
  100% {
    transform: translateX(101%);
  }
}
@keyframes side-top {
  0%, 14% {
    transform: translateX(-101%);
  }
  24%, 55% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(101%);
  }
  100% {
    transform: translateX(101%);
  }
}
@-moz-keyframes side-right {
  0%, 14%, 23% {
    transform: translateY(-101%);
  }
  30%, 62% {
    transform: translateY(0);
  }
  72% {
    transform: translateY(101%);
  }
  100% {
    transform: translateY(101%);
  }
}
@-webkit-keyframes side-right {
  0%, 14%, 23% {
    transform: translateY(-101%);
  }
  30%, 62% {
    transform: translateY(0);
  }
  72% {
    transform: translateY(101%);
  }
  100% {
    transform: translateY(101%);
  }
}
@-o-keyframes side-right {
  0%, 14%, 23% {
    transform: translateY(-101%);
  }
  30%, 62% {
    transform: translateY(0);
  }
  72% {
    transform: translateY(101%);
  }
  100% {
    transform: translateY(101%);
  }
}
@keyframes side-right {
  0%, 14%, 23% {
    transform: translateY(-101%);
  }
  30%, 62% {
    transform: translateY(0);
  }
  72% {
    transform: translateY(101%);
  }
  100% {
    transform: translateY(101%);
  }
}
@-moz-keyframes side-bottom {
  0%, 14%, 24%, 28% {
    transform: translateX(101%);
  }
  37%, 70% {
    transform: translateX(0);
  }
  79% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(-101%);
  }
}
@-webkit-keyframes side-bottom {
  0%, 14%, 24%, 28% {
    transform: translateX(101%);
  }
  37%, 70% {
    transform: translateX(0);
  }
  79% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(-101%);
  }
}
@-o-keyframes side-bottom {
  0%, 14%, 24%, 28% {
    transform: translateX(101%);
  }
  37%, 70% {
    transform: translateX(0);
  }
  79% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(-101%);
  }
}
@keyframes side-bottom {
  0%, 14%, 24%, 28% {
    transform: translateX(101%);
  }
  37%, 70% {
    transform: translateX(0);
  }
  79% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(-101%);
  }
}
@-moz-keyframes side-left {
  0%, 14%, 24%, 34%, 35% {
    transform: translateY(101%);
  }
  44%, 79% {
    transform: translateY(0);
  }
  86% {
    transform: translateY(-101%);
  }
  100% {
    transform: translateY(-101%);
  }
}
@-webkit-keyframes side-left {
  0%, 14%, 24%, 34%, 35% {
    transform: translateY(101%);
  }
  44%, 79% {
    transform: translateY(0);
  }
  86% {
    transform: translateY(-101%);
  }
  100% {
    transform: translateY(-101%);
  }
}
@-o-keyframes side-left {
  0%, 14%, 24%, 34%, 35% {
    transform: translateY(101%);
  }
  44%, 79% {
    transform: translateY(0);
  }
  86% {
    transform: translateY(-101%);
  }
  100% {
    transform: translateY(-101%);
  }
}
@keyframes side-left {
  0%, 14%, 24%, 34%, 35% {
    transform: translateY(101%);
  }
  44%, 79% {
    transform: translateY(0);
  }
  86% {
    transform: translateY(-101%);
  }
  100% {
    transform: translateY(-101%);
  }
}
.slider-body {
  font-family: 'Nunito', 'sans-serif';
  font-size: 3vw;
}


.top-container-slider {
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: slategray;
  color: white;
  clip-path: circle(13% at 85% 50%);
  animation: circleMove 5s ease-in-out infinite;
}

@keyframes circleMove {
  0%, 100% {
    clip-path: circle(13% at 95% 50%);
  }
  50% {
    clip-path: circle(13% at 5% 50%);
  }
}