
.three{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    background-color: ghostwhite;
    border: 2px solid mintcream;
    border-radius:5px;
  height:-webkit-fill-available;
}
.row{
    width:50%;
    justify-content: end;
    height: 78vh;
    margin: 0px;
}
.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 50vh;
    border: 8px solid gainsboro;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-style: outset;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  
  h1 span::before{
    content: '';
    color: #aa3939;
    animation: profile 5s infinite ;
  }
  @keyframes profile {
    0% { content: 'singer'}
    50% { content: 'magician'}
    100% { content: 'storyteller'}
  }
  
  .flex-prof-card{
    display : flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    height:inherit;
  }

  


  
  @import url("https://fonts.googleapis.com/css?family=Bangers");
  *, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
  }
  
  .profile-flipper {
    height: auto;
    width: auto;

  }
  
  .profile-flipper {
    font-size: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", cursive;
  }
  
  .card {
    height: 25rem;
    width: 18rem;
    transform-style: preserve-3d;
    position: relative;
    transition: all 1s ease-in-out;
    margin: 10px;
    margin-right: 20vh;
    border-radius:5vh;
  }
  
  .front, .back {
    position: absolute;
    backface-visibility: hidden;
    background-image: linear-gradient(135deg, #00d8e7 0%, #764ba2 100%);
    height: 100%;
    width: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    color: #fff;
    perspective: 1000px;
    box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.4);
  }
  
  .back {
    transform: rotateY(180deg);
    background-image: linear-gradient(135deg, #ddfa5b 0%, #764ba2 100%);

  }
  
  .front > p, .back > p {
    transform: translateZ(120px);
  }
  
  .card:hover {
    transform: rotateY(180deg);
  }
  .info-content{
    align-self:center;
    margin-left: 10vh;
    height: 25rem;
    background-image:linear-gradient(452deg,midnightblue 50%, honeydew 135%);
    width:inherit;
    margin-right: 30vh;
  }
  
  body {
    font-family: Arial;
    font-size: 1.5rem;
    line-height: 150%;
    background: #edf2f7;
    color: #2d3748;
  }
  .l-info-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
  }
  .l-info-container h1 {
    font-size: 2.2rem;
  }
  .l-info-container .instruction {
    font-size: 1.8rem;
    margin-bottom: 4rem;
    font-style: italic;
  }
  .content {
    margin-bottom: 4em;
  }
  .content p {
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
  }
  .v1 p {
    background-position: bottom left;
    background-size: 0% 5px;
    background-image: linear-gradient(#e53e3e, #e53e3e);
    padding-bottom: 5px;
  }
  .v1:hover p {
    background-size: 100% 5px;
  }
  .v2 p {
    background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(#f6e05e, #f6e05e);
  }
  .v2:hover p {
    background-size: 100% 100%;
  }
  .v3 p {
    color: transparent;
    background-position: right;
    background-size: 100% 100%;
    background-image: linear-gradient(#a0aec0, #a0aec0);
  }
  .v3:hover p {
    color: #000;
    background-size: 0% 100%;
  }
  .v4 p {
    background-position: bottom left;
    background-size: 0% 3px;
    background-image: repeating-linear-gradient(to right, #4834d4 0 3px, transparent 0 6px);
    padding-bottom: 3px;
  }
  .v4:hover p {
    background-size: 100% 3px;
  }
  .v5 p {
    background-position: center left;
    background-size: 100% 3px;
    background-image: linear-gradient(to right, #000, #000);
    padding-bottom: 3px;
  }
  .v5:hover p {
    background-size: 100% 100%;
    color: #fff;
    background-image: linear-gradient(to right, #e53e3e, #e53e3e);
  }
  .v6 p {
    background-position: center left;
    background-size: 100% 4px;
    background-image: linear-gradient(to right, #000, #000);
    padding-bottom: 4px;
  }
  .v6:hover p {
    background-position: bottom left;
    background-size: 100% 2px;
    font-style: italic;
  }
  .v7 p {
    background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(to right, #f6e05e, #f6e05e);
  }
  .v7:hover p {
    background-position: right;
    background-size: 100% 100%;
  }
  .v8 p {
    background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(to right, #9ae6b4, #f6e05e);
    padding-bottom: 4px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
  .v8:hover p {
    background-size: 100% 100%;
  }
  