.three{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    border-radius:5px;
  height:-webkit-fill-available;
}
.row{
    width:50%;
    justify-content: end;
    height: 78vh;
    margin: 0px;
}
.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 50vh;
    border: 8px solid gainsboro;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-style: outset;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  
  h1 span::before{
    content: '';
    color: #aa3939;
    animation: profile 5s infinite ;
  }
  @keyframes profile {
    0% { content: 'singer'}
    50% { content: 'magician'}
    100% { content: 'storyteller'}
  }
  
  .flex-prof-card{
    display : flex;
    width: -webkit-fill-available;
    justify-content: center;
    flex-wrap:wrap;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    height:inherit;
  }

  


  
  @import url("https://fonts.googleapis.com/css?family=Bangers");
  *, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
  }
  
  
  .profile-flipper {
    height: auto;
    width: auto;
    font-size: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", cursive;
    align-self:baseline;
  }
  
  .card {
    height: 25rem;
    width: 18rem;
    transform-style: preserve-3d;
    position: relative;
    transition: all 1s ease-in-out;
    margin: 10px;
    margin-right: 20vh;
    border-radius:5vh;
  }
  
  .front, .back {
    position: absolute;
    backface-visibility: hidden;
    background-image: linear-gradient(135deg, #00d8e7 0%, #764ba2 100%);
    height: 100%;
    width: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    color: #fff;
    perspective: 1000px;
    box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.4);
  }
  
  .back {
    transform: rotateY(180deg);
    background-image: linear-gradient(135deg, #ddfa5b 0%, #764ba2 100%);

  }
  
  .front > p, .back > p {
    transform: translateZ(120px);
  }
  
  .card:hover {
    transform: rotateY(180deg);
  }
  .info-content{
    align-self:center;
    height: fit-content;
    width:fit-content;
background-image: (374deg,midnightblue -10%, honeydew 101%);
  }
  .l-info-container{
    align-self:center;
    padding:0px 10px 0px 10px
  }
  .info-content {
    margin-bottom: 4em;
  }
  .info-content p {
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
  }
  .v4 p {
    background-position: bottom left;
    background-size: 0% 3px;
    background-image: repeating-linear-gradient(to right, #4834d4 0 3px, transparent 0 6px);
    padding-bottom: 3px;
  }
  .v4:hover p {
    background-size: 100% 3px;
  }



  .info-flip-card {
    margin: 50px;
    background-color: transparent;
    width: 300px;
    height: 250px;
    border-radius:10px;
    perspective: 8000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .info-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    border-radius:20px;
    box-shadow:none;
    /* border: 2px solid blue; */
    transform-style: preserve-3d;

  }
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .info-flip-card:hover .info-flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .info-flip-card-front, .info-flip-card-back {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    
    position: absolute;
    border-radius:10px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  .info-flip-card-front{
    /* padding-left: 20px; */
    border:5px solid honeydew;
  }
  .info-flip-card-back{
    padding-right: 20px;
    border: 5px solid lightblue;
  }
  
  /* Style the front side (fallback if image is missing) */
  .info-flip-card-front {
    background-image:linear-gradient(396deg,#DC2424,#4A569D);
    color: black;
  }
  .info-flip-card-back {
    background-image:linear-gradient(296deg,#c21500 3%,#ffc500 85%);
    color: white;
    transform: rotateY(180deg);
  }
  #content{
    background-image:linear-gradient(118deg,#FFDEE9,#B5FFFC);
  }
  
  #info-1{
    flex:0.7;
    background-image:linear-gradient(407deg,ghostwhite -10%,#4A569D 56%);
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    width:150px;
  }